# [required] GitHub Personal Access token to be used by Observability Operator to fetch the
# Observability configuration from the Observability configuration git repository.
# The token should have read access to the configuration git repository
OBSERVABILITY_CONFIG_ACCESS_TOKEN=<value>

# [optional] Repository address and branch name to use for the Observability repository. Set these to test with custom Observability resources.
#OBSERVABILITY_CONFIG_REPO=https://api.github.com/repos/bf2fc6cc711aee1a0c2a/observability-resources-mk/contents
#OBSERVABILITY_CONFIG_TAG=main

# [required] DNS domain of the K8s cluster where KAS components will be deployed
K8S_CLUSTER_DOMAIN=<value>

# [required] Login credentials for the container repository containing the KAS
# components container images
IMAGE_REPOSITORY_USERNAME=<value>
IMAGE_REPOSITORY_PASSWORD=<value>

# [optional] Zone the cluster is in
# Default: us-east-1
#REGION=<value>

# [optional] OCM offline token for use with kas-fleet-manager's "ocm" cluster provider
# Default: None
OCM_SERVICE_TOKEN=

# [optional] OCM cluster ID for use with kas-fleet-manager's "ocm" cluster provider
# Default: None
OCM_CLUSTER_ID=

# [optional] KAS Fleet Manager container image registry (quay.io, docker.io, ...)
# Default: quay.io
#KAS_FLEET_MANAGER_IMAGE_REGISTRY=<value>

# [optional] KAS Fleet Manager container image repository
# Default: bf2fc6cc711aee1a0c2a82e312df7f2e6b37baa12bd9b1f2fd752e260d93a6f8144ac730947f25caa2bfe6ad0f410da360940ee6d28d6c1688d3822c4055650e/kas-fleet-manager
#KAS_FLEET_MANAGER_IMAGE_REPOSITORY=<value>

# [optional] KAS Fleet Manager container image tag
# Default: main
#KAS_FLEET_MANAGER_IMAGE_TAG=<value>

# [optional] KAS Fleet Manager container image repository credentials' username
# Default: ${IMAGE_REPOSITORY_USERNAME}
KAS_FLEET_MANAGER_IMAGE_REPOSITORY_USERNAME=${KAS_FLEET_MANAGER_IMAGE_REPOSITORY_USERNAME:-$IMAGE_REPOSITORY_USERNAME}

# [optional] KAS Fleet Manager container image repository credentials' password
# Default: ${IMAGE_REPOSITORY_PASSWORD}
KAS_FLEET_MANAGER_IMAGE_REPOSITORY_PASSWORD=${KAS_FLEET_MANAGER_IMAGE_REPOSITORY_PASSWORD:-$IMAGE_REPOSITORY_PASSWORD}

# [optional] KAS Fleet Manager's git repository.
# Source repository reference for KAS fleet manager. Must be a public repository URL
# Default: https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager
#KAS_FLEET_MANAGER_GIT_URL=<value>

# [optional] KAS Fleet Manager's git reference.
# A commit ID, branch name or tag can be used. The commit ID should be compatible with
# the container image contents used
# Default: main
#KAS_FLEET_MANAGER_GIT_REF=<value>

# [required] Principal name to be used for Keycloak client and user representing the owner of a Kafka cluster. See `ocm whoami | jq -r .username`
# Default: None
#RH_USERNAME=<value>

# [required] Owning users RH account_id. See `ocm token | awk -F'.' '{print $2}' | base64 -d | jq -r .account_id`
# Default: None
#RH_USER_ID=<value>

# [required] Owning users RH org_id. See `ocm token | awk -F'.' '{print $2}' | base64 -d | jq -r .org_id`
# Default: None
#RH_ORG_ID=<value>
