# [required] GitHub Personal Access token to be used by Observability Operator to fetch the
# Observability configuration from the Observability configuration git repository.
# The token should have read access to the configuration git repository
OBSERVABILITY_CONFIG_ACCESS_TOKEN=<value>

# [required] DNS domain of the K8s cluster where KAS components will be deployed
K8S_CLUSTER_DOMAIN=<value>

# [required] Login credentials for the container repository containing the KAS
# components container images
IMAGE_REPOSITORY_USERNAME=<value>
IMAGE_REPOSITORY_PASSWORD=<value>

# [optional] KAS Fleet Manager container image registry (quay.io, docker.io, ...)
# Default: quay.io
KAS_FLEET_MANAGER_IMAGE_REGISTRY=<value>

# [optional] KAS Fleet Manager container image repository
# Default: rhoas/kas-fleet-manager
KAS_FLEET_MANAGER_IMAGE_REPOSITORY=<value>

# [optional] KAS Fleet Manager container image tag
# Default: e75964c
KAS_FLEET_MANAGER_IMAGE_TAG=<value>

# [optional] KAS Fleet Manager container image repository credentials' username
# Default: ${IMAGE_REPOSITORY_USERNAME}
KAS_FLEET_MANAGER_IMAGE_REPOSITORY_USERNAME=${KAS_FLEET_MANAGER_IMAGE_REPOSITORY_USERNAME:-$IMAGE_REPOSITORY_USERNAME}

# [optional] KAS Fleet Manager container image repository credentials' password
# Default: ${IMAGE_REPOSITORY_PASSWORD}
KAS_FLEET_MANAGER_IMAGE_REPOSITORY_PASSWORD=${KAS_FLEET_MANAGER_IMAGE_REPOSITORY_PASSWORD:-$IMAGE_REPOSITORY_USERNAME}

# [optional] KAS Fleet Manager's https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager git reference.
# A commit ID, branch name or tag can be used. The commit ID should be compatible with
# the container image contents used
# Default: e75964cbfcbe8d0dd8036c2e168f31409268d0e0
KAS_FLEET_MANAGER_BF2_REF=<value>