# Username and password with read access to the docker repository, by default is quay.io/rhoas
IMAGE_REPOSITORY_USERNAME=
IMAGE_REPOSITORY_PASSWORD=

# MAS SSO keycloak URL
# echo "https://$(oc get route keycloak -n mas-sso --template='{{ .spec.host }}')"
MAS_SSO_URL=

# KAS Fleet Manager URL
# echo "https://$(oc get route kas-fleet-manager -n kas-fleet-manager-${USER} --template='{{ .spec.host }}')"
KAS_API_URL=
