---
apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: observability-operator-group-name
  namespace: managed-application-services-observability
spec:
  targetNamespaces:
  - managed-application-services-observability
