---
kind: Secret
apiVersion: v1
metadata:
  name: kafka-observability-configuration
  namespace: managed-application-services-observability
  labels:
    configures: observability-operator
stringData:
  access_token: #placeholder_observability_config_access_token#
  channel: resources
  repository: 'https://api.github.com/repos/bf2fc6cc711aee1a0c2a/observability-resources-mk/contents'
  tag: v1.4.0-staging # could also be main
