---
apiVersion: v1
kind: Secret
metadata:
  name: observatorium-dex-credentials
  namespace: managed-application-services-observability
type: Opaque
stringData:
  username: #placeholder_observatorium_dex_username#
  password: #placeholder_observatorium_dex_password#
  secret: #placeholder_observatorium_dex_secret#
