---
kind: Secret
apiVersion: v1
metadata:
  name: addon-kas-fleetshard-operator-parameters
  namespace: redhat-kas-fleetshard-operator
stringData:
  cluster-id: #placeholder_data_plane_cluster_id#
  control-plane-url: #placeholder_control_plane_url#
  poll-interval: 15s
  resync-interval: 60s
  sso-auth-server-url: #placeholder_sso_auth_server_url#
  sso-client-id: #placeholder_sso_client_id#
  sso-secret: #placeholder_sso_secret#