---
apiVersion: v1
kind: Secret
metadata:
  name: rhoas-image-pull-secret
  namespace: redhat-managed-kafka-operator
type: kubernetes.io/dockercfg
data:
  .dockercfg: #placeholder_strimzi_imagepull_secret_dockercfg#
