---
apiVersion: v1
kind: Secret
metadata:
  name: rhoas-image-pull-secret
  namespace: redhat-kas-fleetshard-operator
type: kubernetes.io/dockercfg
data:
  .dockercfg: #placeholder_kas_fleetshard_operator_imagepull_secret_dockercfg#
